@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --primary-color: #00B4D8;
  --secondary-color: #0077B6;
  --accent1-color: #03045E;
  --accent2-color: #90E0EF;

  --heading-font: "Archivo Black", sans-serif;
  --paragraph-font: 'Rubik', sans-serif;

  --nav-background-color: #03045E;
  --nav-link-color: #00B4D8;
  --nav-hover-link-color: #ffffff;
  --nav-hover-background-color: #90E0EF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: var(--paragraph-font);
  background-color: var(--nav-background-color)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/*HEADER AND NAVBAR SECCTION*/
.about-header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 2fr;
  align-items: center;
  max-width: 1000px;
  background-color: var(--nav-background-color);
}

.about-header img {
  margin: 0 0.25rem 0 1rem;
  width: 100px;
  height: auto;
}

.navbar-header {
  display: flex;
  list-style: none;
  flex: 1 1 100%;
  justify-content: space-around;
}

.navbar-header {
  text-align: right;
  align-items: center;
}

.navbar-header a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 16px 32px;
  margin: 0;
  border-radius: 5px;
}

.navbar-header a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}


/*INDEX CONTENT*/
.hero-index {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
}

.background-image-index {
  display: block;
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.hero-index h1 {
  position: absolute;
  top: 0%;
  background-color: var(--nav-link-color);
  width: 100%;
  font-family: var(--heading-font);
  font-size: 45px;
  color: #FFFFFF;
  text-align: center;
}

.hero-index>.moto2 {
  position: absolute;
  width: 25%;
  top: 50%;
  right: 8%;
  background-color: var(--accent2-color);
  border-radius: 24px;
  padding: 10px;
  opacity: 0.9;
}

.adventures p {
  text-align: left;
  font-size: 2rem;
  line-height: 2rem;
  padding: 8px;
  color: #03045E; 
}

.adventures button {
  background-color: var(--accent2-color);
  color: var(--secondary-color);
  font-size: 1.3rem;
  border: 0;
  display: block;
  margin: 0 auto;
  border-radius: 26px;
  padding: 3px 15px;
  float:right;
  cursor: pointer;
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
  margin-top:  12px;
}


.indexcontent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.indexcontent p {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 10px;
  color: var(--primary-color);
}

.indexcontent img {
  width: 100%;
  max-height: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  padding: 8px;
}

.indexcontent button {
  background-color: var(--accent2-color);
  color: var(--secondary-color);
  font-size: var(--paragraph-font);
  border: 0;
  display: block;
  margin: 0 auto;
  border-radius: 26px;
  padding: 8px 16px;
  float: left;
  cursor: pointer;
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
}

.indexcontent-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: var(--primary-color);
}

.indexcontent-form p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding: 8px;
  color: var(--accent1-color);
}

.indexcontent-form h3 {
  text-align: left;
  font-size: 2rem;
  line-height: 1.5rem;
  padding: 8px;
  color: var(--accent1-color);
}

.indexcontent-form input {
  padding: 8px;
  margin: 4px;
}

.indexcontent-form label {
  font-weight: bold;
  font-size: .9em;
}

.newsletterbutton-index {
  background-color: var(--accent1-color);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  margin: 0 auto;
  width: 90%;
  cursor: pointer;
}

/*HERO SECCTION*/
.hero {
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.background-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero h1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: var(--nav-link-color);
  font-family: var(--heading-font);
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  font-size: 45px;
  line-height: 1.2;
  margin: 0;
}

.hero>.clients {
  position: absolute;
  width: 40%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -10%);
  background-color: var(--nav-link-color);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: block;
}

.hero>.clients p {
  color: white;
  font-family: var(--paragraph-font);
  margin-top: 10px;
  font-size: 18px;
}

.hero>.clients img {
  display: inline;
  height: 150px;
  margin-left: 20px;
  vertical-align: middle;
}

/*TRIPS SECTION*/
.trip-main {
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #00B4D8;
}
.trip-main h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: var(--accent1-color);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  width: 350px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 550px;
}

.card h4 {
  margin-top: 10px;
  font-size: 18px;
  text-decoration: underline;
}

.card {
  background-color: var(--accent1-color);
  color: #00B4D8;
}

.card img {
  max-width: 100%;
  border-radius: 5px;
  max-height: 300px;
}

.card ul {
  list-style: none;
  text-align: left;
  padding: 16px;
  line-height: 1.5rem;
}

.container p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding: 8px;
}

.reviews {
  color: goldenrod;
}

.container button {
  background-color: var(--accent2-color);
  color: var(--accent1-color);
  font-size: var(--paragraph-font);
  border: 0;
  display: block;
  margin: 0 auto;
  border-radius: 26px;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.container a {
  text-decoration: none;
}

/*HISTORY SECTION*/
.history {
  background-color: var(--accent1-color);
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.history p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: justify;
  color: var(--primary-color);
  max-width: 800px;
}

.history img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/*ADVENTURES SECCTION*/
.adventures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  background-color: var(--primary-color);
  padding: 20px;
  margin-bottom: 30px;
  align-items: center;
}

.adventures h2 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 3rem;
  color: var(--accent1-color);
}

.adventures img {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;

}

.adventures figure {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
  box-shadow: 0 0 30px rgb(61, 61, 61);
}

.adventures figcaption {
  background-color: var(--nav-background-color);
  color: #fff;
  font: italic smaller sans-serif;
  padding: 10px;
  text-align: center;
}


/* CONTACT US PAGE STYLES */
.contact {
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #00B4D8;
}

.contact h1 {
  font-family: var(--heading-font);
  font-size: 45px;
  color: #FFFFFF;
  margin-bottom: 18px;
}

.p1 {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: var(--accent1-color);
}

.contact-content {
  display: grid;
  grid-template-columns: 2fr 40%;
  gap: 2rem;
  align-items: start;
  justify-content: space-between;
  text-align: left;
  line-height: 2rem;
  margin-top: 20px;
  justify-items: stretch;
}

.contact-content h2 {
  text-align: left;
  margin-bottom: 10px;
  color: #ffffff;
  text-decoration: underline;
}

.p2,
.p3 {
  font-size: 15px;
  max-width: 50ch;
  color: var(--accent1-color);
  font-weight: bold;
  margin-bottom: 10px;
}

.p3::first-letter {
  font-weight: bolder;
  color: #FFFFFF;
}

.customer-attention figcaption {
  display: flex;
  width: 28%;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--nav-background-color);
  color: #fff;
  font: italic smaller sans-serif;
  text-align: center;
  margin-bottom: 12px;
}

.contact-content img {
  width: 200px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 0 30px rgb(61, 61, 61);
}

.map {
  width: 430px;
  height: 250px;
  border: none;
}

form {
  margin-top: 30px;
  color: #FFFFFF;
}

.contact-content label,
input[type="text"],
input[type="email"],
textarea,
select {
  padding: 6px;
  width: 90%;
  font-weight: bold;
}

.radio-group {
  display: block;
  gap: 5px;
}

.radio-group input[type="radio"] {
  margin: 0;
  padding: 2px;
  appearance: none;
  border: 1px solid #3498db;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.radio-group label {
  font-size: 16px;
  color: #FFFFFF;
}

.radio-group [type="button"]:checked {
  background-color: var(--accent2-color);
}

.contactContentbutton,
.newsletterbutton {
  background-color: var(--accent2-color);
  color: var(--accent1-color);
  padding: 14px 22px;
  border: none;
  border-radius: 8px;
  margin: 0 auto;
  width: 90%;
  cursor: pointer;
}

.box-form {
  background-color: var(--accent1-color);
  padding-left: 45px;
  border-radius: 15px;
  padding-bottom: 12px;
}

/*FOOTER SECCTION*/
footer {
  background-color: var(--accent1-color);
  color: var(--primary-color);
  text-align: center;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  text-decoration: underline;
  margin: 0;
}

.sociallinks {
  display: flex;
  align-items: center;
}

.sociallinks img {
  width: 30px;
  height: auto;
  padding: 0 5px;
  margin-top: 8px;
}

.wireframetrips {
  color: #FFFFFF;
}
