@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --primary-color: #00B4D8;
  --secondary-color: #0077B6;
  --accent1-color: #03045E;
  --accent2-color: #90E0EF;

  --heading-font: "Archivo Black", sans-serif;
  --paragraph-font: 'Rubik', sans-serif;

  --nav-background-color: #03045E;
  --nav-link-color: #00B4D8;
  --nav-hover-link-color: #ffffff;
  --nav-hover-background-color: #90E0EF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: var(--paragraph-font);
  background-color: #ffffff
}


/* Header */
.about-header {
  background-color: var(--nav-background-color);
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 70px;
  padding: 0px;
  margin: 0;
  background-color: var(--nav-background-color);
}

.about-header img {
  width: 150px;
}

.navbar-header a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 16px 32px;
  margin: 0;
  border-radius: 5px;
}

.navbar-header a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

/* Hero section */
.hero {
  position: relative;
  padding: 0px 0;
  text-align: center;
}

.background-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero h1 {
  position: absolute;
  top: 3%;
  background-color: var(--nav-link-color);
  width: 100%;
  font-family: var(--heading-font);
  color: #FFFFFF;
  text-align: center;
  padding: 15px;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2;
}

.hero>.clients {
  position: absolute;
  width: 40%;
  top: 40%;
  left: 30%;
  background-color: var(--nav-link-color);
  padding: 5px;
  display: block;
}

.hero>.clients p {
  color: white;
  font-family: var(--paragraph-font);
  padding: 2px;
  font-size: 16px;
}

.hero>.clients img {
  float: right;
  height: 150px;
}

/* History  */

.history {
  background-color: var(--accent1-color);
  padding: 20px;
  margin-bottom: 30px;
}

.history h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.history p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--primary-color);
}

/* Adventures */

.adventures h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.adventures img {
  width: 100%;
  max-width: 300px;
  height: auto;
  padding: 5px;
}

.adventures p {
  margin: 8px;
  color: var(--accent1-color);
  font-size: 15px;
  margin-bottom: 0;
}

/* Footer */
footer {
  background-color: var(--accent1-color);
  color: var(--primary-color);
  text-align: center;
  padding: 10px 20px;
}

.sociallinks img {
  width: 30px;
  height: auto;
  padding: 0 5px;
  margin-top: 8px;
}